:root {
  --bg: #121212;          
  --bg2: #1f1f1f;        
  --bg3: #ffffff;          

  --txt: #cccccc;       
  --txt2: #333;       
  --txt3: #2c2c2c;       

  --cor1: #1abc9c; 
  --cor2: #16a085; 

}

@font-face{
    font-family: 'fonteExtra';
    src:url(../fonts/PixelifySans-VariableFont_wght.ttf) format('truetype');
}

/* PAGINA PRINCIPAL */
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--bg);
    color: var(--txt);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    font-weight: 400;
}

.cabecalho{
    background-color: var(--bg2);
}

.cabecalho nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;  
    gap: 20px;  
}

.cabecalho a{
    text-decoration: none;
    font-weight: 500;
    color: var(--txt);
    transition: color 0.3s ease, transform 0.2s ease;
}

.cabecalho a:hover{
    cursor: pointer;
    color: var(--cor1);
    transform: scale(1.2);
}

.cabecalho a img{
    border-radius: 8px;
    margin: 8px 0px 0px 8px;
}

main, .principal {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
    text-align: center;
}
main h1, main h2, main h3 {
    margin-bottom: 15px;
    color: var(--bg3);
}

main p, main ul, main li {
    color: var(--txt);
}
main p a {
    color: var(--cor1);
    text-decoration: none;
}

main p a:hover {
    text-decoration: underline;
}

.unilavras{
    color: var(--cor1);
    text-decoration: none;
    transition: color 0.3s ease, transform 0.2s;
}
.unilavras:hover{
    cursor: pointer;
    text-decoration: underline;
    color: var(--cor2);
    transform: scale(1.05);
}

#sobre{
    margin: 20px auto;
    align-items: center;
    width: 90%;
    max-width: 1000px;

}

.foto-perfil{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

#interesses{
    padding: 25px;
    align-items: center;
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
    list-style-position: inside;
    background-color: var(--bg2);
    border-radius: 5px;
    box-shadow: 4px 4px var(--txt);
    padding-bottom: 10px;
}

#interesses h2{
    color: var(--bg3);
}

#interesses ul li{
    color: var(--txt);
}

#formacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
    color: var(--bg3);
}

#formacao aside h1{
    color: var(--bg3);
}

#formacao aside ul li{
    color: var(--txt);
}

#formacao aside{
    padding: 25px;
    background-color: var(--bg2);
    border-radius: 5px;
    box-shadow: 4px 4px var(--txt);
    max-width: 600px;
    width: 90%;
}
#formacao aside ul{
    list-style-position: inside;
    padding-left: 0;
    margin-top: 10px;
}
footer, .rodape {
    background-color: var(--bg2);
    color: var(--txt);
    padding: 20px 30px;
    margin-top: 50px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.footer-container a {
    color: var(--cor1);
    text-decoration: none;
}

.footer-container a:hover {
    text-decoration: underline;
}

.social {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.social img {
    transition: transform 0.2s;
    cursor: pointer;
}

.social img:hover {
    transform: scale(1.2);
}

/* PAGINA CONTATO */
.bodyContato {
    min-height: 100vh;        
    display: flex;               
    flex-direction: column;     
}

.mainContato {
    flex: 1;               
}

.rodapeContato {
    margin-top: auto;           
}
.formulario{
    background-color: var(--bg2);
    border-radius: 4px;
    box-shadow: 4px 4px var(--txt);
    text-align: center;
    margin: 40px auto;
    padding: 20px;
    width: 90%;
    max-width: 700px;
}
input[type='text'],input[type='email'],input[type='tel']{
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    height: 35px;
    width: 70%;
    max-width: 300px;
    border-radius: 4px;
    box-shadow: 4px 4px var(--txt2);
    background-color: var(--txt3);
    padding-left: 5px ;
    color: var(--txt);
    
}
input[type='text']::placeholder,
input[type='email']::placeholder,
input[type='tel']::placeholder{
    color: var(--txt);
    padding-left: 5px;
}

#btnEnviar{
    display: inline-block;
    padding: 12px 25px;
    box-shadow: 4px 4px var(--txt2);
    border-radius: 4px;
    background: var(--cor1);
    border: none;
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    color: var(--txt2);
    transition: background-color 0.3s ease, transform 0.4s ease;
    font-family: 'fonteExtra','Segoe UI';
}
#btnEnviar:hover{
    transform: scale(1.05);
    background-color: var(--cor2);

}
/* PAGINA EXTRA */
.bodyExtra{
    font-family:'fonteExtra','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.jogos{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(280px, 1fr));
}

.jogos aside {
    background-color: var(--bg2);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 4px 4px var(--txt);
    text-align: center;
}

.jogos aside h3 {
    margin-bottom: 10px;
    color: var(--bg3);
}
.jogos img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    object-fit: cover;
}
.jogos ul li{
    margin: 5px;
    list-style:inside;
}
.mainJogos{
    text-align: center;
}
.mainJogos p {
    margin: 20px auto;
}
.mainJogos a{
    display: grid;
    grid-column: 2 / 3;
    background-color: var(--cor1);
    color: var(--bg3);
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 4px 4px var(--txt);
}
.mainJogos a:hover{
    background-color: var(--cor2);
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .cabecalho nav {
        flex-direction: column;
        gap: 10px;
    }

    main, .principal {
        padding: 0 15px;
    }
}

@media (max-width: 768px) {
    .sobre-container {
        flex-direction: column; /* empilha imagem e texto */
        text-align: center;
        gap: 15px;
    }

    .foto-perfil {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 480px) {
    .jogos{
        grid-template-columns: 1fr;
    }
    .mainJogos a{
        grid-column: 1/1;
    }
}