@font-face{
    font-family: 'fonteExtra';
    src:url(../fonts/PixelifySans-VariableFont_wght.ttf) format('truetype');
}

*{
    margin: 0px;
    padding: 0px;
}




@media (max-width: 768px) {
    header nav, .cabecalho nav {
        flex-direction: column;
        gap: 10px;
    }

    main, .principal {
        padding: 0 15px;
    }
}
@media (max-width: 480px) {
    .jogos {
        grid-template-columns: 1fr;
    }
}